*.pem

config.py
env/

**/node_modules
node_modules/**

/backend/__pycache__/**
__pycache__/**
__pycache__/**/*
/backend/.vscode/**
.vscode/**

*.swp

/frontend/node_modules/**/*
/frontend/.expo/*
.expo/*
/frontend/.vscode/**

babel.config.js
package-lock.json
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/


# macOS
.DS_Store
