{% extends "public/templates/public_template.html" %}

{% block title %}Sign Up{% endblock %}

{% block main %}

<script type="text/javascript">
    function confirm() {
        var email = document.getElementById("inputEmail").value.trim().toLowerCase();
        var password = document.getElementById("inputPassword").value;
        if(email == "" || password == "") {
            alert("Please enter a value for email and password");
            return;
        }
        
        var mailformat = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
        
        if(!email.match(mailformat)) {
            alert("You have entered an invalid email address!");
            return;
        }

        if (!(password.match(/[a-z]/g) && 
            password.match(/[A-Z]/g) && 
            password.match(/[0-9]/g) && 
            password.length >= 8)) {
            alert("Your password must have 1 uppercase character, 1 lowercase character, 1 digit, and be at least 8 characters long");
            return;
        }

        document.getElementById("signupform").submit();
    }
</script>
<div class="container mt-3">
  <div class="row">
    <div class="col">
      <img class="rounded mx-auto d-block" height="150px" width="150px" src="/static/img/AppLogo.png" />
      <br>
      <h5 class="text-center" style="letter-spacing: 1px">Sign Up</h5>
      <br>
      <form action="/thankyou" method="post" id="signupform">
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" name="inputEmail" id="inputEmail">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" name="inputPassword" id="inputPassword">
            </div>
        </div>
        <div class="mb-3 row">
            <input class ="btn btn-primary" onclick="confirm()" type="button" value="Register">
        </div>
        <input name="pagePost" id="pagePost" value="signup" class="hide">
      </form>
    </div>
  </div>
</div>

{% endblock %}

